<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link rel="stylesheet" href="fight.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- GAME -->
    <div class="game-container">
      <div class="enemy-half">
        <div id="enemy-moves" class="nes-container is-rounded">
          <p id="top-title">Player 1</p>
          <button id="enemy-attack1" type="button" class="nes-btn">
            Use attack
          </button>
          <button id="enemy-attack2" type="button" class="nes-btn">
            Use attack
          </button>
          <button id="enemy-attack3" type="button" class="nes-btn">
            Use attack
          </button>
          <button id="enemy-attack4" type="button" class="nes-btn">
            Use attack
          </button>
        </div>
        <div id="enemy-display" class="fighter-display">
          <div id="top-picture" class="fighter-picture"></div>
          <div class="nes-container status-bar">
            <p>Status bar</p>
            <progress
              id="topBar"
              class="nes-progress is-success"
              value="100"
              max="100"
            ></progress>
          </div>
        </div>
      </div>
      <div class="player-half">
        <div id="player-display" class="fighter-display">
          <div id="bottom-picture" class="fighter-picture"></div>
          <div class="nes-container status-bar">
            <p>Status bar</p>
            <progress
              id="bottomBar"
              class="nes-progress is-success"
              value="100"
              max="100"
            ></progress>
          </div>
        </div>
        <div id="player-moves" class="nes-container is-rounded">
          <p id="bottom-title">
            Player 2
          </p>
          <button id="player-attack1" type="button" class="nes-btn">
            Use attack
          </button>
          <button id="player-attack2" type="button" class="nes-btn">
            Use attack
          </button>
          <button id="player-attack3" type="button" class="nes-btn">
            Use attack
          </button>
          <button id="player-attack4" type="button" class="nes-btn">
            Use attack
          </button>
        </div>
      </div>
    </div>

    <a href="/home/index.html">Dev link to index.html</a>
  </body>
  <script src="../code/app.js" type="module"></script>
</html>
